body {
  background-color: #F5F5DC;
}

h1{
  color: #228B22;
  text-align: left;
  font-family:'Courier New', Courier, monospace;
  padding-top: 10%;
  padding-left: 8%;
}

p, h4{
  color: #228B22;
  text-align: left;
  padding-left: 8%;
  padding-right: 10%;
  font-family: 'Courier New', Courier, monospace;
  
}

/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    background: transparent;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: flex; }
#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: #228B22;
    text-decoration: none;
    text-align: center;
}
#hamitems a:hover { background: transparent; }

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      text-align: left;
      
    }

    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: inline-block; 
      color: #228B22;
      background: transparent;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }

    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
}

.flex-container {
    display: flex;
}

