@charset "UTF-8";

/*
Name: Devan Eisnor
Date: 2023-04-14
CSS file that used for style of webpages and creates
proper window readability while using desktop, tablet, or cell phone screen
*/
body {
  background-color: #F5F5DC;
  
}

h1{
  color: #228B22;
  text-align: left;
  font-family:'Courier New', Courier, monospace;
  padding-top: 0%;
  padding-left: 8%;
}

p, h4{
  color: #228B22;
  text-align: left;
  padding-left: 8%;
  padding-right: 8%;
  font-family: 'Courier New', Courier, monospace;
  
}

li{
  color:#228B22;
  font-family: 'Courier New', Courier, monospace;
  font-size: .7em;
}
.indented {
  text-indent: 2em;
  font-size: .6em
}

.border-content {
  border: 2px solid #228B22;
  ;
}

/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background: transparent;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: flex; }
#hamitems a {
    font-family: 'Courier New', Courier, monospace;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: #228B22;
    text-decoration: none;
    text-align: center;
}
#hamitems a:hover { background: transparent; }

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      text-align: left;
      
    }

    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: inline-block; 
      color: #228B22;
      background: transparent;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }

    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
}

.flex-container {
    display: flex;
}

